body, html {
    min-width: 320px;
}

.artist-title {
    font-family: $hairline;
    font-size: 30px;
    text-transform: uppercase;
    color: #2b2b2b;
    letter-spacing: 12px;
    margin-top: 55px;
    margin-bottom: 30px;
    div.overflow-container {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    h3 {
        margin: 0;
        padding: 0;
        position: relative;
        top: 5px;
        font-weight: 700;
    }
}

.content-1 {
    span.text-right {
        display: block;
        width: 100%;
    }
}

.overflow-container {
    overflow: hidden;
    .title-4 {
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;
        top: 8px;
        line-height: normal;
    }
    &_about {
        .title-4 {
            &:after {
                content: '';
                display: block;
                width: 120%;
                height: 30px;
                position: absolute;
                left: -10%;
                bottom: 0;
                background: linear-gradient(to top,rgba(0,0,0,.1) 20%,rgba(255,255,255,.1) 70%);
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                overflow: hidden;
            }
        }
    }
}